@model int?[,]

@{
    ViewBag.Title = "Home Page";
}

@using System.Diagnostics
@using BusinessLogic

@{
    <br />
    <br />
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { Class = "row g-3" }))
    {
        <div class="col-5">            
            <input type="number" class="form-control" name="InputNumber" max="100000" min="0" id="InputNumber" placeholder="Input a number" required>
        </div>

        <div class="col-auto">
            <input class="btn btn-primary" type="submit"  value="Generate Spiral" />
        </div>
    }
            <br />
            <br />

            <table class="table table-bordered">
                @{
                    if (Model != null)
                    {

                        int arraySize = Model.GetLength(0);

                        for (int y = 0; y < arraySize; y++)
                        {
                            <tr>

                                @for (int x = 0; x < arraySize; x++)
                                {
                                    int? value = Model[x, y];

                                    if (value != null)
                                    {
                                        if (value == 0)
                                        {
                                            <td class="table-success">@value</td>
                                        }
                                        else
                                        {
                                            <td>@value</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                    }
                                }
                            </tr>
                        }
                    }
                }
            </table>

            }
