@model int?[,]

@{
    ViewBag.Title = "Home Page";
}

@using System.Diagnostics
@using BusinessLogic

@{
    <br />
    <br />
    using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>
            @Html.TextBox("InputNumber")

            <input class="btn" type="submit" value="Submit" />
        </div>
    }


    <br />
    <br />

    <table class="table table-bordered">
        @{
            if (Model != null)
            {

                int arraySize = Model.GetLength(0);

                for (int i = 0; i < arraySize; i++)
                {
                    <tr>

                        @for (int j = 0; j < arraySize; j++)
                        {
                            if (Model[j, i] != null)
                            {
                                if (Model[j, i] == 0)
                                {
                                    <td class="table-success">@Model[j, i]</td>
                                }
                                else
                                {
                                    <td>@Model[j, i]</td>
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                }
            }
        }
    </table>

}